<%= authenticate! %>
<div class="container">
<div class="span3 well", style="margin-left:155px;">
<h2>Registro de usuario</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div class="pull-right"><%= f.submit "Registrar", :class => "btn btn-info" %></div>
<% end %></br>
<%= render "devise/shared/links" %>
</div>
<div class="span5 circle" style="padding:10px;">
</div>
</div>
