<div class="container">
 <div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
           <li class="divider-vertical">
          <%= link_to "Videos", videos_path%></li>
           <li class="divider-vertical">
          <%= link_to "Himnario", hymnal_path%> </li>
          <li class="divider-vertical">
           <%= link_to "Archivo", docuent_files_path %></li>
          <li class="divider-vertical">
              <%= link_to "Galería", photos_path %></li>
              
              <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                           Canales
                           <b class="caret"></b>
                       </a>
                      <ul class="dropdown-menu">

                            <li href="#">  <%= link_to "México", religious_service_mexico_path%></li>
                            <li class="divider"></li>
                            <li href="#"> <%= link_to "Colombia", reiligius_service_colombian_path%></li>
                            <li class="divider"></li>                      
                            <li href="#"> <%= link_to "Puerto Rico", reiligius_service_puerto_rico_path%></li>
                       </ul>
                  </li>
      </ul>
      
      <ul class="nav pull-right">
          
       <%= link_to "Salir", destroy_user_session_path, :class => "brand"%>
      </ul>	 

  	</div>    
    </div>
   </div>
  </div>
</div>
<script type="text/javascript">
    
    $(function(){
  	$(".dropdown-toggle").dropdown()
    });
    
</script>
