<h1>Videoteca <div class="pull-right">Miembros: <%= members %></div></h1>
<pre> Videos sermones y material para estudios bíblicos</pre>
<div class="container">
<div class="span8 form_video">
    <% if current_user.role == 'admin'%>

    <%= render partial: 'shared/videos_form'%>
    
    <%end%>
</div>
<div class="span4">
<div class="span3" style="margin-left:-10px;">
<%= render partial: "shared/videoteca_menu"%>
</div>
<div class="span3" style="width: 258px; margin-left:10px; margin-top:15px; ">
<%#= render partial: "shared/oraciones"%>
</div>
</div>

<div class="span7 bak-video">
<iframe src="http://player.vimeo.com/video/63213361" width="540" height="297" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/63213361">¿Puede confiar en la profecía bíblica?</a> from <a href="http://vimeo.com/user8550540">Living Church of God</a> on <a href="http://vimeo.com">Vimeo</a>.</p> <p>M&aacute;s de una cuarta parte de su Biblia es profec&iacute;a. Profec&iacute;a que revela el futuro. &iquest;Puede usted confiar en la profec&iacute;a b&iacute;blica? La mayor&iacute;a de los estudiantes b&iacute;blicos se dan cuenta que estamos viviendo en los tiempos postreros. Mientras experimentamos desastres record y crisis global; muchos se preguntan &iquest;Estamos llegando al final de la civilizaci&oacute;n? En diciembre del 2004 el sismo de Sumatra de 9.1 de magnitud y el resultante Tsunami mataron a m&aacute;s de 280,000 arrasando el sur de Asia.</p></center>
</div>
</div>

<% @incert_videos = IncertVideo.order(:id).page params[:page] %>
<% @incert_videos.reverse.each do |video| %>
<div class="container" style="margin-top:30px;">
    <div class="span7 bak-video" style="margin-left:340px;">
       <% if current_user.role == 'admin'%>
        <%= link_to image_tag('delete.png'), video, confirm: '¿Estas seguro de querer eliminar este video?', method: :delete, :class => 'btn btn-danger pull-right ' %>
       <%end%>
        <%= (video.video_iframe).html_safe%>
     
    </div>
</div>
<%end%>
<div class="container">
    <div class="span7 pull-right" style="margin-right:40px;">
    <%= paginate @incert_videos%>
    </div>
</div>
