<!DOCTYPE html>
<html>
<head>
    
  <title>Iglesia del Dios Viviente</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "favicon.png" %>  
  
  <%= render partial: "shared/header"%>
  <% if current_user%>
      <% case %>
          <% when current_user.role == "admin" %>
            <%= render partial: "shared/admin_bar"%>
          <% when current_user%>
            <%= render partial: "shared/logged_bar"%>
      <%end%>
  <%else%>
        <%= render partial: "shared/top_bar"%>
  <%end%>
   
</head>
<body class="container"style="padding-top:50px;">
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-40004622-1']);
      _gaq.push(['_setDomainName', 'livingchannel.org']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    
  <%= yield %>
  <script type='text/javascript'>

          $(document).ready(function () {
          if ($("[rel=tooltip]").length) {
          $("[rel=tooltip]").tooltip();
          }
        });
  </script>
</body></br>
<footer style="padding-top:50px;" >
    
 <%= render partial: "shared/footer"%>
    
</footer>
</html>
